.btn {
    padding: 100px;
    border: 10px solid papayawhip;
    border-radius: 50%;
    background-color: black;
} 
.btn1 {
    padding: 100px;
    border: 10px solid papayawhip;
    border-radius: 50%;
    background-color: black;
}
.opacity {
    opacity: 20%;
    
}